.custom-logo{
    width: 300px;
    height:auto;
}

.navbar-default .nav > li > a {
    text-transform: capitalize;
}
.navbar ul li .dropdown-menu li a {
    text-transform: capitalize;

}

.post img.alignnone{
    width: 100%;
    height: auto;
}

@media (min-width: 992px){
    p, li, table {
        font-size: 16px;
    }}

@media screen and (min-width: 768px)
{
    .panel.panel-default .panel-heading {
        min-height: 148px;
    }}

section {
    padding: 14px 0;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#myCarouselConcejales .panel-heading {
    background-size: cover !important;
}

.wprpsp-recent-post-slider .wprpsp-post-cnt-left {
    background: transparent !important;
}

.wprpsp-gridbox-slider.wprpsp-image-fit .wprpsp-post-image-wrap .wprpsp-post-img, .wprpsp-post-widget.wprpsp-image-fit .wprpsp-post-image-wrap .wprpsp-post-img, .wprpsp-recent-post-carousel.wprpsp-image-fit .wprpsp-post-image-wrap .wprpsp-post-img, .wprpsp-recent-post-slider.wprpsp-image-fit .wprpsp-post-image-wrap .wprpsp-post-img {
    object-position: center center;
}

.wprpsp-post-image-wrap.wprpsp-post-image-bg:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(1,128,66,1) 0%, rgba(183,194,56,1) 100%);
    opacity: .7;
    content: '';
}

.wprpsp-recent-post-slider.wprpsp-design-7 .wprpsp-post-cnt-left h2 a {
    color: #fff;
    font-size: 3em !important;
    text-shadow: 1px 1px 3px #000000;
}

.navbar-default .nav > li > a {
    line-height: 50px !important;
}

.wprpsp-recent-post-slider.wprpsp-design-7 .wprpsp-read-more-btn {
    padding: 10px 30px;
}

.wprpsp-read-more-btn:focus, .wprpsp-read-more-btn:hover {
    background: #fff;
    color: #333 !important;
}

#myCarouselConcejales .panel-heading {
    background-position: top center;
}

a.panel:hover, a.panel:focus {
    background-image: linear-gradient(45deg, rgba(1,128,66,1) 0%, rgba(183,194,56,1) 100%);
}

.btn-primary {
    background-color: #262626;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.focus, .btn-primary.active {
    background-image: linear-gradient(45deg, rgba(1,128,66,1) 0%, rgba(183,194,56,1) 100%);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-image: linear-gradient(45deg, rgba(1,128,66,1) 0%, rgba(183,194,56,1) 100%);
    color: #fff;
}

.social-share li:hover {
    background-image: linear-gradient(45deg, rgba(1,128,66,1) 0%, rgba(183,194,56,1) 100%);
    color: #fff;
}

.navbar-default .nav > li > a {
    color: #262626;
}

#myCarouselConcejales .panel {
    min-height: 290px;
}

#myCarouselComisiones .panel {
    min-height: 300px;
}

.glyphicon {
    background: -moz-linear-gradient(45deg, rgba(1,128,66,1) 0%, rgba(183,194,56,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(1,128,66,1) 0%, rgba(183,194,56,1) 100%);
    background: linear-gradient(45deg, rgba(1,128,66,1) 0%, rgba(183,194,56,1) 100%);
    */: ;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.media-object {
    width: 100%;
    height: auto;
}

.media-left, .media-right, .media-body {
    width: 50%;
    height: auto;
}

/* moviles */

@media (max-width: 490px) {
    .wprpsp-recent-post-slider.wprpsp-design-7 .wprpsp-post-cnt-left {
        width: 90%;
    }

    .wprpsp-recent-post-slider.wprpsp-design-7 .wprpsp-post-cnt-left h2 a {
        font-size: 2em !important;
    }

    .media-left, .media-right, .media-body 		{
        width: 100%;
        display: block;
    }
}
